services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "9090:8080"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - PORT=8080
      - DB_HOST=3.24.168.37
      - DB_USER=user
      - DB_PASSWORD=1234
      - DB_DATABASE=cleanup
      - DB_PORT=5433

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_BASE_URL=http://localhost:9090
    ports:
      - "3000:80"
    depends_on:
      - backend
# docker-compose.yml 파일 중...
